Repository tinyflowjs/tinyflow, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, instances

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - '*'

core:
  - packages/core/*
  - packages/core/**/*

instances:
  - packages/instance*/*
  - packages/instance*/**/*

fix: standard js lint fix
  package.json
  packages/core/Tinyflow.js
  packages/core/rollup.dist.config.js
  packages/core/tests/integration/extensions.tests.js
  packages/core/tests/integration/workflows.tests.js
  packages/core/tests/unit/Emitter.tests.js
  packages/core/tests/unit/Step.tests.js
  packages/core/tests/unit/Tinyflow.tests.js
  packages/core/tests/unit/Workflow.tests.js
  packages/instance/rollup.dist.config.js
Labels: repo, core, instances

build(core): add pre/post publish scripts
  packages/core/package.json
Labels: core

docs: updated
  README.md
  docs/examples/restore.md
Labels: repo

ci: updated node versions
  .github/workflows/publish.yml
  .github/workflows/testsuite.yml
Labels: none

docs: updated site
  README.md
  docs/index.html
Labels: repo

packages: prepare rc publishing
  packages/core/package.json
  packages/instance/package.json
Labels: core, instances

ci: updated actions to v4
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/testsuite.yml
Labels: none

build: sync lock file with rc versions
  package-lock.json
Labels: repo

ci: update steps naming
  .github/workflows/testsuite.yml
Labels: none

docs: updated, prepare for release
  README.md
  docs/api/core/Emitter.html
  docs/api/core/Step.html
  docs/api/core/Tinyflow.js.html
  docs/api/core/TinyflowError.html
  docs/api/core/Workflow.html
  docs/api/core/global.html
  docs/api/core/index.html
  docs/api/instances/Tinyflow.html
  docs/api/instances/global.html
  docs/api/instances/index.html
  docs/api/instances/withInstances.js.html
  docs/api/testutils/index.html
  docs/examples/logging-browser.html
  docs/examples/restore.md
  docs/index.html
Labels: repo

build: add publish commands
  package.json
  packages/core/package.json
  packages/instance/README.md
  packages/instance/package.json
  packages/instance/withInstances.js
  packages/testutils/package.json
Labels: repo, core, instances

docs: updated doctoc in README
  README.md
Labels: repo

build(instances): fix entry points for cjs/iife
  package-lock.json
  packages/instance/package.json
Labels: repo, instances

docs: updated
  docs/api/core/Emitter.html
  docs/api/core/Step.html
  docs/api/core/Tinyflow.js.html
  docs/api/core/TinyflowError.html
  docs/api/core/Workflow.html
  docs/api/core/global.html
  docs/api/core/index.html
  docs/api/instances/Tinyflow.html
  docs/api/instances/global.html
  docs/api/instances/index.html
  docs/api/instances/withInstances.js.html
  docs/api/testutils/index.html
  docs/examples/logging-browser.html
Labels: none

build: distinct exports definitions
  packages/core/dist/Tinyflow.cjs.js
  packages/core/dist/Tinyflow.cjs.js.map
  packages/core/dist/Tinyflow.cjs.min.js.map
  packages/core/dist/Tinyflow.es5.js
  packages/core/dist/Tinyflow.es5.js.map
  packages/core/dist/Tinyflow.es5.min.js.map
  packages/core/dist/Tinyflow.iife.js.map
  packages/core/dist/Tinyflow.iife.min.js.map
  packages/core/dist/Tinyflow.js
  packages/core/dist/Tinyflow.js.map
  packages/core/dist/Tinyflow.min.js
  packages/core/dist/Tinyflow.min.js.map
  packages/core/dist/Tinyflow.umd.js
  packages/core/dist/Tinyflow.umd.js.map
  packages/core/dist/Tinyflow.umd.min.js
  packages/core/dist/Tinyflow.umd.min.js.map
  packages/core/package.json
  packages/core/rollup.dist.config.js
  packages/instance/dist/withInstances.cjs.js
  packages/instance/dist/withInstances.cjs.js.map
  packages/instance/dist/withInstances.cjs.min.js.map
  packages/instance/dist/withInstances.es5.js
  packages/instance/dist/withInstances.es5.js.map
  packages/instance/dist/withInstances.es5.min.js.map
  packages/instance/dist/withInstances.iife.js
  packages/instance/dist/withInstances.iife.js.map
  packages/instance/dist/withInstances.iife.min.js.map
  packages/instance/dist/withInstances.js
  packages/instance/dist/withInstances.js.map
  packages/instance/dist/withInstances.min.js.map
  packages/instance/package.json
Labels: core, instances

docs: fix size badges
  README.md
Labels: repo

build: update packages
  packages/core/dist/Tinyflow.min.cjs
  packages/core/dist/Tinyflow.min.cjs.map
  packages/core/package.json
  packages/core/rollup.dist.config.js
  packages/instance/dist/withInstances.cjs.min.js
  packages/instance/dist/withInstances.cjs.min.js.map
  packages/instance/dist/withInstances.min.cjs
  packages/instance/dist/withInstances.min.cjs.map
  packages/instance/package.json
  packages/instance/rollup.dist.config.js
Labels: core, instances

docs: fixed
  docs/api/core/Emitter.html
  docs/api/core/Step.html
  docs/api/core/Tinyflow.cjs.html
  docs/api/core/TinyflowError.html
  docs/api/core/Workflow.html
  docs/api/core/global.html
  docs/api/core/index.html
  docs/api/instances/Tinyflow.html
  docs/api/instances/global.html
  docs/api/instances/index.html
  docs/api/instances/withInstances.cjs.html
  docs/api/testutils/index.html
  packages/core/api.md
  packages/core/jsdoc.conf.json
  packages/core/package.json
  packages/instance/jsdoc.conf.json
  packages/instance/package.json
Labels: core, instances

build: add missing babel-plugin-istanbul
  package-lock.json
  package.json
Labels: repo

release: 1.0.0
  package-lock.json
  packages/core/README.md
  packages/core/package.json
  packages/instance/package.json
Labels: repo, core, instances

deleted core readme [skip-ci]
  packages/core/README.md
Labels: core
